
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.checkout-Btn{
  background-color: black;
  color:white;
  padding: 4px;
  border-radius: 10px;
}

.checkout-Btn:hover{
  background-color: gray;
}